<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
      <%= render 'shared/stats' %>
    </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
      <% if @messages.any? %>
        <section style="border: 1px solid #676767; border-radius: 4px; padding: 10px;">
          <% @messages.each do |m| %>
            <% if m.user_id!=current_user.id %>
              <%= gravatar_for(m.user, size: 20) %>
              <p><%=m.user.name%></p>
              <p><%=m.content%></p>
            <% else %>
              <div class="" style="text-align: right;">
                <p><%=m.user.name%></p>
                <p><%=m.content%></p>
              </div>
            <% end %>
          <% end %>
        </section>
      <% end %>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Sample App</h1>

    <h2>
      This is the home page for the
      <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %>
<% end %>
